version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: fastpick-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fastpick-network

volumes:
  postgres_data:

networks:
  fastpick-network:
    driver: bridge