spring:
  application:
    name: fastpick-be

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        naming:
          physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy

jwt:
  secret-key: ${SECRET_KEY}
  access-token-expiration: 30m
  refresh-token-expiration: 7d

cors:
  allowed-origins:
    - "http://localhost:3000"
    - "http://192.168.56.111"

management:
  endpoints:
    web:
      exposure:
        include: [prometheus, health, info, metrics]
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}